/*......feedback to fix:
run all text true spellcheck.
höjd för alla olika skärmstorlekar
w3c validate all pages again
CSS validering
*/
@import url('https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700,800|Arial:100,200,300,400,500,600,700,800');

/*----------TOPICS GENERAL-----------*/ 

.topic-header{
  font-family: "Nunito", Arial;
  font-weight: 700;
  font-size:  30px;
  color:#004054;
  text-align: center;
}

.topic-sub-header{
  font-family: "Nunito", Arial;
  font-weight: 600;
  font-size:  22px;
  color:#004054;
  text-align: center;
}

.topic-text{
  font-family: "Nunito", Arial;
  color:black;
  font-size: 18px;
  text-decoration: none!important;
}

.topics-background{
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    background-image: url("../pictures/topics_background.jpg");
    }

.conatainer-topics{
     text-align: justify;
     max-width: 600px;
}

/*----LINKS----*/
a.middle{
    position: relative;
}

a.middle:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:#004054;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.9s ease-in-out;
}

a.middle:hover:before{
  visibility: visible;
  transform: scaleX(1);
}

/*------ DROPDOWN NAVIGATION-------- */

.dropdown {
  text-align: center;
  
}

.navbar-nav>li>a{
    border-radius: 10px;
}

.topics{
  font-family: "Nunito", Arial;
  font-weight: 700;
  font-size:  25px;
  color:#004054;
  margin-top:-5px;
}

.dropdown-toggle{
    background: radial-gradient(#5adae9, #29a0bb)!important;
    border:solid;
    border-color:#004054;
}


.navbar-center{
    margin-left: 50%;
}

.dropdown-content{
  display: none;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 7px;
}

.dropdown-topics{
    text-align: center;
    font-family: "Nunito", Arial;
    font-weight: 600;
    font-size:  20px;
    color:#004054;
    margin-top: 10px;
}

.navbar-nav>li>.dropdown-menu {
     border-radius: 10px;
     background-color: #A9FEFB;
     border:solid;
     border-color:#004054;
     min-width: 300px;
}

.dropdown-menu>li>a{
    padding: 0px 0px;
}

.navbar-nav>li>a{
    line-height: 10px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: #5adae9;
}

.dropdown-menu>li>a:hover{
     background-color:#A4FEFE;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color:#A4FEFE;
    max-height: 28px;
}

.navbar-toggle{
    float: none;
    padding: 0px 0px;
    margin-right: 0px;
    margin-left: 47%;
}

/*--------HEADER-------*/

.paddingtitle{
    padding-top:25px;
    text-align: center;
}

.title {
    font-family: "Nunito", Arial;
    font-weight: 800;
    font-size: 45px;
    line-height: 50px;
    text-transform: uppercase;
    color:#004054;
    text-decoration: none !important;
    top: 0.5%;
    position: relative;
}

.search-btn{
    background: radial-gradient(#5adae9, #017296);
    border-radius: 50%;
    height: 34px;
    width: 34px;
    margin-left: 8px;
}

.search-bar{
    float:right;
    max-width: 82%;
    margin-left: 10px;
}

.search-btn:hover {
    background:#ffffff;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.form-control{
    background-color:#BECCCC;
}

.glyphicon-search{
    font-size: 20px;
    margin-left:-7px;
}

.glyphicon-align-justify{
    font-size: 35px;
}

/*---------------CONTACT-----------*/
.email-heading{
    font-family: "Nunito", Arial;
    font-weight: 600;
    font-size: 20px;
    color:#000000;
    text-align: center;
    margin-top:20px;
    max-width: 400px;
}

.container-center{
    text-align: center;
    max-width: 400px;
}

.property-code{
    width: 100%;
    Height:30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: inherit;
    color:#9B9B9B;
    padding-left: 9px;
    background-color:#BECCCC
}

.datalist {
    display: block;
}

.span:hover + area {
  display: block;
}

/*---------BENEFITS----------*/    
.benfit-payslip-example{
    width: 100%;
    height:100%;
}

/*----------FORMS OF EMPLOYMENT-----------*/ 
.foe-background{
    background-position: center;
    background-repeat:no-repeat;
    background-size: 150%;
    background-image: url("../pictures/foebackground.png");
}

.foe-content-rounded-edges{
    border-radius: 15px;
}

.foe-sub-header{
    padding-top: 8px;
}

/*-------------INDEX BODY---------------*/
.index-body-size{
    position: relative;
    height: 100%;
}

.search-index{
    max-width: 300px;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px
}

.index-background{
    position: relative;
    background-repeat:no-repeat;
    background-size:cover;
    background-image: url("../pictures/payroll.jpg");
    height: 100%;
}

.indexcontent{
    text-align: center;
    margin-top: 1%;
}

.center-btn{
    margin-right: 20px;
}

.mainbutton{
    border-radius: 50%;
    color: #004054;
    background: radial-gradient(#5adae9, #017296);
    height: 150px;
    width: 150px;
    font-family: "Nunito", Arial;
    font-weight: 800;
    font-size:16px;
    border: 3px solid #00516b;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
    margin-bottom: 22px;
    margin-top: 22px;
    margin-left: 40px;
}

.mainbutton:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.mainbutton span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.mainbutton span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.mainbutton:hover span{
  padding-right: 25px;
}

.mainbutton:hover span:after{
  opacity: 1;
  right: 0;
}

/*--------------FOOTER-------------------*/

.footerbackgrund{
  bottom: 0;
  margin-top: 50px;
  border-radius: 10px 10px 0px 0px;
  background-repeat:no-repeat;
  background-size:cover;
  background-image: url("../pictures/footerbackground.jpg");
  height: 100%;
}

.logo{
    background-repeat: no-repeat;
    max-height: 100px;
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left:55px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.social-links {
    list-style-type: none;
    text-align: center;
    margin-top: 15px;
}

.social-links li a i {
    margin-left: 7px;
    width: 40px;
    height: 40px;
    padding: 15px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color:#004054;
    background:#5adae9;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background:#ffffff ;
}

.mail-footer {
    padding-bottom: 15px;
    list-style-type: none;
    margin-top: 15px;
}

.mail-footer li a i {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    padding: 15px 0;
    font-weight: 900;
    border-radius: 50%;
    font-size: 28px;
    line-height: 7px;
    text-align: center;
    color:#004054;
    background:#5adae9;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.mail-footer li a i:hover {
    background:#ffffff ;
}

.socialspacing{
    color:#ffffff;
    font-family: "Nunito", Arial;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: none;
    text-align:center;
}

.sociallinks{
    margin-top:5px;
}

.envelope{
    font-weight: 800;
}

.contact-btn{
    margin-top: 30px;
    margin-left: 32px;
}

/*-------------MEDIA QUERYS-----------*/
@media (min-width: 2560px){
    .sociallinks{
    margin-left:66%;
    }
    
    .contact-btn{
        margin-left: 170%;
        margin-top: 51px;
    }
}

@media (min-width: 1440px)and (max-width: 2559px){
    .sociallinks{
        margin-left:50%;
    } 
    
    .contact-btn{
        margin-left: 457px;
        margin-top: 49px;
    }
}

@media  (min-width: 769px) and (max-width: 1044px){
    .sociallinks{
        margin-left:50%;
    } 
    
    .contact-btn{
        margin-top: 45px;
        margin-left: 289px;
    }
}

@media  (min-width: 769px) and (max-width: 1025px){
    .logo-medium {
        max-height: 75px;
        margin-top: 15px;
        margin-left:20px;
    }
}

@media (min-width: 768px){
    .foe-indefinite-duration{
        height: 297px;
    }
    
    .foe-time-limited{
        height: 316px;
    }
    
    .foe-background{
        width: 750px;
        margin-left:-90px;
        border-radius: 0px 32px;
    }
}

@media  (min-width: 724px) and (max-width: 1025px) {
    .socialspacing{
        margin-top:0px;
        font-weight: 200;
        font-size: 12px;
    }
}
     
@media  (min-width: 0px) and (max-width: 1025px) {
    .mail-footer-medium {
        margin-top: 10px;
    }
    
    .social-links li a i{
        width: 35px;
        height: 35px;
        font-size: 26px;
    }
}

@media  (min-width: 427px) and (max-width: 768px) {
    .title {
        font-weight: 800;
        font-size: 35px;
        line-height: 30px;
        padding-top: 20px;
    }
    
    .sociallinks{
        margin-left:45px;
    }
    
    .contact-btn{
        margin-top: 49px;
        margin-left: 172px;
    }
}



@media  (min-width: 0px) and (max-width: 798px) {
    .logo-small {
        max-height: 65px;
        margin-top: 16px;
        margin-bottom: 20px;
        margin-left:15px;
    }
    
    .navbar-nav>li>a{
        line-height: 14px;
    }
    
    .foe-background{
        text-align: left;
    }
    
    .navbar-style{
    border: none;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    }
}

@media  (min-width: 0px) and (max-width: 723px) {
    .dropbtn {
        font-size: 25px;
        border: none;
        border-radius:7px;
    }
    
    .socialspacing{
        font-size: 9px;
    }
    
    .social-links li a i {
        width: 25px;
        height: 25px;
        padding: 10px 0;
        border-radius: 50%;
        font-size: 20px;
        line-height: 4px;
        text-align: center;
        color:#004054;
        background:#5adae9;
        transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
    }

    .mail-footer-medium li a i{
        margin-top: 1px;
        width: 25px;
        height: 25px;
        padding: 8px 0;
        border-radius: 50%;
        font-size: 19px;
        font-weight: 800;
        line-height: 8px;
        text-align: center;
        color:#004054;
        background:#5adae9;
        transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
    }
}

@media  (min-width: 376px) and (max-width: 426px) {
    .contact-btn{
        margin-top:29px;
        margin-left:60px;
    }
}
    
@media  (min-width: 0px) and (max-width: 426px) {
    .title {
        font-weight: 800;
        font-size: 24px;
        line-height: 40px;
        padding-top: 20px;
    }
    
    .indextitlemobile{
        color:#5adae9;
    }
    
    .socialspacing{
        display:none;
    }
    
    .email-heading{
        font-size: 14px;
    }
    
    .foe-background{
       background-image: none; 
    }
}

@media  (min-width: 321px) and (max-width: 376px) {
    .contact-btn{
        margin-top:29px;
        margin-left:45px;
    }
}

@media (max-width: 320px){
    a.middle:hover:before{
      visibility:hidden;
      transform: scaleX(0);
    }
    
    .search-bar{
        max-width: 79%;
    }
    
   .navbar-nav>li>.dropdown-menu{
       min-width: 257px;
   }
   
   .social-links li a i{
       margin-left:-15px;
   }
}